{% extends 'cars/base.html' %}
{% block content %}
<main>
  <div class="albumpy-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card shadow-sm">
                  <img class="d-block w-100" src="{{ car.image.url }}" alt="First slide">
                  {% for item in gallery %}
                      <img class="d-block w-100" src="{{ item.image.url }}" alt="Next slide">
                  {% endfor %}
          </div>
        </div>
          <div class="col-lg-6">
            <div class="card-body">
              <h1 class="card-text">{{ car.make }} {{ car.model }}</h1>
              <p class="card-text"><strong>Year: </strong>{{ car.year }}</p>
              <p class="card-text"><strong>Body style: </strong>{{ car.body_style }}</p>
              <p class="card-text"><strong>Exterior color: </strong>{{ car.exterior_color }}</p>
              <p class="card-text"><strong>Interior color: </strong>{{ car.interior_color }}</p>
              <p class="card-text"><strong>Drivetrain: </strong>{{ car.drivetrain }}</p>
              <p class="card-text"><strong>Transmission: </strong>{{ car.transmission }}</p>
              <p class="card-text"><strong>Standard Engine: </strong>{{ car.engine }} ({{ car.engine.fuel_type }}\{{ car.engine.power }} hp) - ${{ car.engine.get_price }}</p>
              <p class="card-text"><strong>Compatible Engines: </strong><ul>
              {% for engine in car.compatible_engines.all  %}
                <li>{{ engine }} ({{ engine.fuel_type }}\{{ engine.power }} hp) - ${{ engine.get_price }}</li>
              {% endfor %}
              </ul></p>
              <p class="card-text"><strong>Mileage: </strong>{{ car.mileage |floatformat }} mi.</p>
              <p class="card-text"><strong>Start price: </strong>${{ car.get_price }}</p>
              <h2 class="card-text">Features: </h2>
              {% for feature in car.included_features.all %}
              <p class="card-text"><strong>{{ feature }}:</strong> (included)</p>
              {% endfor %}
              {% for feature in car.extra_features.all %}
              <p class="card-text"><strong>{{ feature }}:</strong> ${{ feature.get_price }}</p>
              {% endfor %}
              <h3 class="card-text">Description: </h3>
              <p class="card-text">{{ car.description }} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="add_car({{ car.id }})">Add to cart</button>
                </div>
                <small class="text-muted">{{ car.date }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
function add_car(pk) {
    $.ajax({
            method:'POST',
            url:'/add/'+ pk,
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            success: function() {
            console.log('Added to cart')
            window.location.reload()
            },
            })
}
</script>
</main>
{% endblock %}