{% extends 'cars/base.html' %}
{% block content %}
<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Car shop example</h1>
        <p class="lead text-muted">You can filter cars by desired parameters and add to cart.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
          <button class="btn btn-primary my-2" type="submit">Search</button>
          <a href="/" class="btn btn-secondary my-2">Clear</a>
        </form>
      </div>
    </div>
  </section>
  <div class="albumpy-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for car in cars %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ car.image.url }}" alt="Car">
            <div class="card-body">
              <h1 class="card-text">{{ car.year }} {{ car.make }} {{ car.model }}</h1>
              <h2 class="card-text">Start price: ${{ car.price }}</h2>
              <p class="card-text">{{ car.description | truncatewords:20 }} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'car_detail' car.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="add_car({{ car.id }})">Add to cart</button>
                </div>
                <small class="text-muted">{{ car.date }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<script>
    $("select").change(function () {
      if ($(this)[0].id !== 'id_model') {
          let make = $("#id_make").val();
          let body_style = $("#id_body_style").val();
          let fuel_type = $("#id_fuel_type").val();

            $.ajax({
            url: '{% url 'cars_search' %}',
            data: {
              'make': make,
              'body_style': body_style,
              'fuel_type': fuel_type,
            },
            success: function (data) {
              $("#id_model").html(data)
            }
          })
      }
    })


    function add_car(pk) {
         $.ajax({
            method:'POST',
            url:'/add/'+ pk,
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            success: function() {
            console.log('Added to cart')
            window.location.reload()
            },
            });
    }

</script>
</main>
{% endblock %}